*{
margin:0px;
padding:0px;
overflowhidden;
}

a{
text-decoration:none;
color:black;
}

#bar{
width:100%;
height:70px;
background:yellow;
position:relative;
top:1px;

}

#home{
width:20%;
height:70px;
box-sizing:border-box;
background:yellow;
text-align:center;
font-weight:bold;
padding:17px 0px 0px 0px;
float:left;
}

#home:hover{
background:red;
color:white;
font-size:20px;
transition:0.5s;
border-radius:5px;
}

#product{
width:20%;
height:70px;
box-sizing:border-box;
background:yellow;
text-align:center;
font-weight:bold;
padding:17px 0px 0px 0px;
float:left;
position:relative;
color:black;
}

#product:hover{
background:red;
color:white;
font-size:20px;
transition:0.5s;
border-radius:5px;
}

#support{
width:20%;
height:70px;
box-sizing:border-box;
background:yellow;
text-align:center;
font-weight:bold;
padding:17px 0px 0px 0px;
float:left;
}

#support:hover{
background:red;
color:white;
font-size:20px;
transition:0.5s;
border-radius:5px;
}

#about{
width:20%;
height:70px;
box-sizing:border-box;
background:yellow;
text-align:center;
font-weight:bold;
padding:17px 0px 0px 0px;
float:left;
}

#about:hover{
background:red;
color:white;
font-size:20px;
transition:0.5s;
border-radius:5px;
}

#contact{
width:20%;
height:70px;
box-sizing:border-box;
background:yellow;
text-align:center;
font-weight:bold;
padding:17px 0px 0px 0px;
float:left;
}

#contact:hover{
background:red;
color:white;
font-size:20px;
transition:0.5s;
border-radius:5px;
}

#submenu{
width:110%;
height:100px;
background:#ffa96a;
box-sizing:border-box;
overflow:scroll;
border-radius:2px 15px 15px 15px;
position:relative;
top:23px;
left:65px;
display:none;
color:black;
}

#product:hover #submenu{
display:block;
font-size:16px;
}

#submenu>div{
height:40px;
text-align:justify;
padding-left:10px;
padding-top:5px;
box-sizing:border-box;
}

#submenu>div:hover{
background:red;
color:white;
border-radius:36px;
transition:0.5s;
}

#hub{
width:100%;
height:350px;
box-sizing:border-box;

background-image:url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh7MhA9nh10xsTBz9JeAZ4YNq54-PR-3hO3Ja5qvfx92HGfSauduYAxDz4rrBtxEkCHpBWTu8K7gn2IDnEEUL5EQUgXSK0jsOUlwWsrSx3sdWxkvdoIzs5RdqS66tCaKFOFgaiUwlIDhBnO-y1DW3zDUDfg6xuVaXIyS0BGSlx8L20oGT4cpwkb3lzMLvw/s612/IMG-20240414-WA0000.jpg);
background-size:100%;
padding-top:140px;
margin-bottom:15px;
}

h1{
font-size:8vw;
text-align:center;
margin:0px;
padding:0px;
color:white;
}

h2{
font-size:3vw;
margin:0px;
padding:0px;
text-align:center;
color:white;
}

#family{
font-weight:bold;
float:left;
margin:0px;
margin-left:5px;
box-sizing:border-box;
padding:2px;
text-align:center;
border:none;
}

#moon{
float:right;
margin-right:20px;
}

#sun{
float:right;
margin-right:20px;
}

b{
margin-right:150px;
}

#smartp{
width:100%;
height:1000px;
border:none;
box-sizing:border-box;
margin-top:25px;
overflow:scroll;
overflow-x:hidden;
margin-bottom:15px;
}

#smartp>div{
width:49%;
box-sizing:border-box;
height:400px;
float:left;
margin:2px 0px 2px 7px;
}

#img1{
position:relative;
bottom:95px;
left:25px;
}


#ultra{
position:relative;
left:25px;
bottom:110px;
font-size:2.6vw;
font-weight:bold;
}

#rs{
position:relative;
left:307px;
top:50px;
font-weight:bold;
font-size:25px;
}

#s24{
position:relative;
left:310px;
top:75px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}



#buy1{
position:relative;
left:144px;
top:170px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}



#s23{
position:relative;
left:310px;
top:75px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}



#galax{
position:relative;
left:55px;
bottom:110px;
font-size:2.6vw;
font-weight:bold;
}

#img2{
position:relative;
bottom:90px;
right:90px;
}

#rs69{
position:relative;
left:315px;
top:50px;
font-weight:bold;
font-size:25px;
}

#s21{
position:relative;
left:310px;
top:75px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}



#fe{
position:relative;
left:25px;
bottom:95px;
font-size:2.6vw;
font-weight:bold;
}

#img3{
position:relative;
bottom:90px;
right:17px;
}

#rs39{
position:relative;
left:320px;
top:50px;
font-weight:bold;
font-size:25px;
}

#f15{
position:relative;
left:310px;
top:75px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}



#f1{
position:relative;
left:45px;
bottom:95px;
font-size:2.6vw;
font-weight:bold;
}

#img4{
position:relative;
bottom:90px;
right:10px;
}

#rs15{
position:relative;
left:320px;
top:50px;
font-weight:bold;
font-size:25px;
}

#f55{
position:relative;
left:310px;
top:75px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}



#f5{
position:relative;
left:30px;
bottom:45px;
font-size:2.6vw;
font-weight:bold;
}

#img5{
position:relative;
bottom:60px;
right:5px;
}

#rs29{
position:relative;
left:320px;
top:50px;
font-weight:bold;
font-size:25px;
}

#m14{
position:relative;
left:310px;
top:75px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}



#m1{
position:relative;
left:48px;
bottom:190px;
font-size:2.6vw;
font-weight:bold;
}

#img6{
position:relative;
bottom:130px;
right:70px;
}

#rs12{
position:relative;
left:320px;
top:50px;
font-weight:bold;
font-size:25px;
}

#update{
margin:0px; 
position:relative; 
right:35%;
bottom:135px;
font-size:3vw;
color:red;
animation:update 1s linear infinite;

}

@keyframes update {
    0% {
        transform: translateZ(-100%); 
        opacity: 0; 
    }
    100% {
transform: translateZ(0); 
opacity: 1; 
text-shadow: 0px 0px 5px white;
    }
}

#smartw{
width:100%;
height:400px;
border:none;
margin:25px 0px 15px 0px;
box-sizing:border-box
}

#smartw>div{
width:50%;
height:400px;
box-sizing:border-box;
margin:2px 0px 2px 0px;
float:left;
}

#rs49{
position:relative;
left:320px;
top:50px;
font-weight:bold;
font-size:25px;
}

#fit3{
position:relative;
left:310px;
top:75px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}



#img7{
position:relative;
bottom:170px;
right:80px;
}

#fi{
position:relative;
left:40px;
bottom:260px;
font-size:2.6vw;
font-weight:bold;
}

#rs36{
position:relative;
left:0px;
top:50px;
font-weight:bold;
font-size:25px;
}

#wat6{
position:relative;
left:0px;
top:75px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy2{
position:relative;
left:144px;
top:170px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy3{
position:relative;
left:144px;
top:170px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy4{
position:relative;
left:144px;
top:170px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy5{
position:relative;
left:144px;
top:170px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy6{
position:relative;
left:144px;
top:170px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy7{
position:relative;
left:144px;
top:170px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy8{
position:relative;
right:165px;
top:170px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}



#img8{
position:relative;
bottom:107px;
right:-150px;
height:340px;
}

#wat{
position:relative;
left:0px;
bottom:120px;
font-size:25px;
font-weight:bold;
}

#tab{
width:100%;
height:400px;
border:none;
box-sizing:border-box;
margin-top:25px;
margin-bottom:15px;
overflow:scroll;
overflow-x:hidden;
}

#tab>div{
width:50%;
box-sizing:border-box;
height:400px;
float:left;
margin:2px 0px 2px 0px;
}

#rs54{
position:relative;
left:320px;
top:50px;
font-weight:bold;
font-size:25px;
}

#snine{
position:relative;
left:310px;
top:75px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy9{
position:relative;
left:144px;
top:170px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#img9{
position:relative;
bottom:100px;
right:26px;
}

#s9{
position:relative;
left:15px;
bottom:150px;
font-size:2.6vw;
font-weight:bold;
}

#rs24{
position:relative;
left:320px;
top:50px;
font-weight:bold;
font-size:25px;
}

#anine{
position:relative;
left:310px;
top:75px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy10{
position:relative;
left:144px;
top:170px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#img10{
position:relative;
bottom:130px;
right:50px;
}

#a9{
position:relative;
left:20px;
bottom:210px;
font-size:2.6vw;
font-weight:bold;
}

#tel{
width:100%;
height:400px;
border:none;
overflow:scroll;
overflow-x:hidden;
margin:25px 0px 15px 0px;
}

#tel>div{
width:50%;
height:400px;
box-sizing:border-box;
margin:2px 0px 2px 0px;
float:left;
}

#rs36490{
position:relative;
left:180px;
top:260px;
font-weight:bold;
font-size:25px;
}

#cry{
position:relative;
left:52px;
top:275px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy11{
position:relative;
left:105px;
top:275px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#img11{
position:relative;
bottom:170px;
left:32px;
}

#rs187490{
position:relative;
left:180px;
top:270px;
font-weight:bold;
font-size:25px;
}

#neo{
position:relative;
left:52px;
top:275px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy12{
position:relative;
left:105px;
top:275px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#img12{
position:relative;
bottom:160px;
left:32px;
}

#wash{
width:100%;
height:450px;
border:none;
margin:25px 0px 15px 0px;
box-sizing:border-box;
}

#wash>div{
width:50%;
height:400px;
margin:2px 0px 2px 0px;
float:left;
box-sizing:border-box;
}

#rs47900{
position:relative;
left:320px;
top:50px;
font-weight:bold;
font-size:25px;
}

#wash1{
position:relative;
left:310px;
top:75px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy13{
position:relative;
left:144px;
top:170px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#img13{
position:relative;
bottom:70px;
right:20px;
}

#rs24890{
position:relative;
left:0px;
top:50px;
font-weight:bold;
font-size:25px;
}

#wash2{
position:relative;
left:0px;
top:75px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy14{
position:relative;
left:-165px;
top:170px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#img14{
position:relative;
bottom:70px;
right:-150px;
}

#refri{
width:100%;
height:400px;
box-sizing:border-box;
border:none;
margin:25px 0px 15px 0px ;
}

#refri>div{
width:50%;
height:400px;
margin:2px 0px 2px 0px;
float:left;
}

#rs19190{
position:relative;
left:60px;
top:50px;
font-weight:bold;
font-size:25px;
}

#refri1{
position:relative;
left:50px;
top:75px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy15{
position:relative;
left:-115px;
top:170px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#img15{
position:relative;
bottom:100px;
left:160px;
}

#rs109000{
position:relative;
left:0px;
top:50px;
font-weight:bold;
font-size:25px;
}

#refri2{
position:relative;
left:0px;
top:75px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy16{
position:relative;
left:-165px;
top:170px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#img16{
position:relative;
bottom:100px;
right:-100px;
}

#microw{
width:100%;
height:400px;
border:none;
margin:25px 0px 15px 0px;
overflow-x:hidden;
}

#microw>nav{
width:50%;
height:400px;
float:left;
}

#out{
position:relative;
left:125px;
top:265px;
font-weight:bold;
font-size:25px;
}

#microw1{
position:relative;
left:50px;
top:275px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy17{
position:relative;
left:75px;
top:275px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#img17{
position:relative;
bottom:157px;
left:35px;
height:400px;
}

#outo{
position:relative;
left:125px;
top:265px;
font-weight:bold;
font-size:25px;
}

#microw2{
position:relative;
left:50px;
top:275px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy18{
position:relative;
left:75px;
top:275px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#img18{
position:relative;
bottom:157px;
left:35px;
height:400px;
}

#airc{
width:100%;
height:400px;
border:none;
margin:25px 0px 15px 0px;
overflow-x:hidden;
}

#airc>div{
width:50%;
height:400px;
float:left;
}

#rs61990{
position:relative;
left:180px;
top:235px;
font-weight:bold;
font-size:25px;
}

#airc1{
position:relative;
left:50px;
top:245px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy19{
position:relative;
left:100px;
top:245px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#img19{
position:relative;
bottom:200px;
left:0px;
height:500px;
}

#outof{
position:relative;
left:150px;
top:235px;
font-weight:bold;
font-size:25px;
}

#airc2{
position:relative;
left:50px;
top:245px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#buy20{
position:relative;
left:100px;
top:245px;
margin:0px;
width:160px;
height:60px;
box-sizing:border-box;
font-weight:bold;
font-size:20px;
border-radius:5px;
border:none;
background:black;
color:white;
}

#img20{
position:relative;
bottom:200px;
left:0px;
height:500px;
}